/* init google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #0260bf;
    color: #FFFFFF;
    transition: .3s all ease;
}

.gap_area {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

/* header part start */
ul,
ol {
    list-style: none;
}

.header_part {
    padding: 20px 0;
}

.header_part .logo img {
    width: 60%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;

}

.menu ul li {
    position: relative;
}

.menu ul li a {
    padding: 8px 25px;
    display: block;
    border-radius: 4px;
    transition: .3s all ease;
}

.menu ul li a:hover {
    background: white;
    color: black;
}
/* header part end  */

/* Hero part start */
.hero_part {
    padding: 20px 0;

}

.hero_con_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 50vh;
}

.hero_con {
    width: 60% !important;
}

.hero_con h2 {
    font-size: 60px;
    margin-bottom: 10px;

}

.hero_con p {
    font-size: 20px;
    margin-bottom: 30px;
}

.hero_con_btn {
    background: white;
    display: inline-block;
    border-radius: 4px;
    color: black;
    text-align: center;
    padding: 8px 30px;
    font-weight: 500;

}

.hero_img {
    text-align: right;
    margin-left: auto;
    transition: .3s all ease;
}

.hero_img img {
    width: 100%;
    transition: .3s all ease;
}
/* hero part end */

/* footer part start */
.footer {
    padding: 40px 0 0 0;
}

.footer_img {
    width: max-content;
    margin: 0 auto;
}

.footer_img img {
    cursor: pointer;
    margin: 0 20px
}
/* footer part end */